@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/blue-alpha.css';
@import '@radix-ui/themes/styles.css';

.footer_ {
  background: rgba(1, 128, 49, 0.6);
  margin-top: 1rem;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(10px);
}

.footer_ a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.footer_ a:hover {
  text-decoration: underline;
}

a:hover {
  color: #76ee94;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 10pt;
}

.text__footer {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 10pt;
}

.text__gw {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 8pt;
}

/* Media query para telas menores */
@media screen and (max-width: 768px) {
  .footer_ {
    flex-direction: column;
    padding: 2.5rem;
    gap: 0;
    text-align: center;
  }

  .footer_ a {
    margin: 0;
    font-size: 10px;
  }

  .text__gw{
    font-size: 1rem;
    gap: 0;
    
  }
}
